.main-content {
  height: 90.1907356948%;
}

.main-content__wrapper {
  width: 100%;
  max-width: 1254px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 28px 69px 29px 56px;
}

.main-content__states {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content__states p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;

  text-align: center;

  color: #808080;

  margin: 0;
}

.main-content__states_initial {
  width: 100%;
  max-width: 210px;
  height: 196px;
}

.main-content__states_initial img {
  padding: 22px;
}

.main-content__states_no-user {
  width: 156px;
  height: 165px;
}

.main-content__states_no-user img {
  max-width: 156px;
  height: 165px;

  padding: 18px 23px;

  margin-bottom: 24px;
}

@media (max-width: 769px){
  .main-content__wrapper {
    padding: 28px 25px 29px 25px;
  }
}