.main-content {
  height: 90.1907356948%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content__intial-state {
  width: 100%;
  max-width: 210px;
  height: 196px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content__intial-state img {
  padding: 22px;
}

.main-content__intial-state p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  /* or 31px */

  text-align: center;

  color: #808080;

  margin: 0;
}