.repos {
  &__heading {
    font-size: 32px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }
}

.repo-item {
  width: 100%;
  margin-bottom: 25px;

  background: #FFFFFF;
  border-radius: 6px;

  &__inner {
    padding: 24px 0 32px 24px;
  }

  &__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    margin-bottom: 16px;
    /* identical to box height */


    color: #0064EB;

    a {
      text-decoration: none;
    }
  }

  &__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

  }
}