
.repos__pagination {
  display: flex;
  justify-content: end;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
}

.repos__pagination p {
  margin: 0;
}

.repos__page-index {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.pagination {
  display: flex;
  margin: 0;

  padding-left: 0;
list-style: none;

  display: flex;
  align-items: center;

}

.page-item {
  text-decoration: unset;
  cursor: pointer;
}

.page-item .page-link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: .375rem .75rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  border-radius: 3px;

  background: #0064EB;
  border-color: #0d6efd;
}

@media (max-width: 550px){
  .page-item.active .page-link {
    padding: 0.5rem .800rem;
  }
}


.arrow-button {
  cursor: pointer;
}

.arrow-button .page-link {
  display: block;

  width: 7px;
  height:  7px;
  border-top: 5px solid #0064EB;
  border-right: 5px solid #0064EB;
  position: relative;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 4px 4px;
}

.arrow-button_right .page-link {
  transform: rotate(45deg);
  margin-left: 29px;
}
.arrow-button_left .page-link {
  transform: rotate(-135deg);
  margin-right: 29px;
}

.arrow-button.disabled .page-link {
  border-top: 5px solid #808080;
  border-right: 5px solid #808080;
}

@media (max-width: 769px){
  .repos__pagination {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 16px;

    row-gap: 20px;
  }
}